%h1.heading-1
  = t('.heading')
%main
  .flex.gap-4.mb-5.justify-center
    = link_to 'Today', user_orders_path(opt: :today), class: 'btn'
    = link_to 'All', user_orders_path(opt: :all), class: 'btn'
    
  .adaptive-orders
    = render @orders
