%h1.heading-1
  .text-cyan-700.text-2xl.font-semibold
    RESTAURANTS

.grid.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4.gap-4.justify-items-center
  = render @restaurants

.container
  = link_to "Додати заклад", new_restaurant_path
